!!!
%html
	%head
		%title Xerps
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
	%body
		= render(:partial => 'layouts/header')
		#main
			#leftMenu
				= render "#{controller.class.name[/^(\w*)::\w*$/, 1].try(:downcase)}/module_menu"
			#mainContent
				= yield
		= render(:partial => 'layouts/footer')
